<%- include('./partials/header') %>

<h1>Refund / Cancellation PolicyShipping / Delivery Policy</h1>
<p>

Shipping & Delivery Policy

KCC provides digital products only.

There is no physical shipping involved.

All ebooks and notes are delivered digitally.

Access is provided instantly or within a few minutes after successful payment.

If you do not receive access within a reasonable time, please contact us at karanchawla000.kc@gmail.com
.
 </p>

 <%- include('./partials/footer') %>
